@tailwind base;
@tailwind components;
@tailwind utilities;

select option {
    color: #000 !important;
    background: #fff !important;
}
select {
    color: #000 !important;
    background: #fff !important;
}
